@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
/*The style operations defined below are normally supposed to be in a different
 folders called variables,colors,assets(for svg). Codepen does not allow this,
 so I defined it at the beginning.*/
/* Paddings
   ========================================================================== */
/* Gaps
   ========================================================================== */
p {
  margin: 0;
}

/* Colors
   ========================================================================== */
/* Typography
   ========================================================================== */
/* Mixin & Extends
   ========================================================================== */
.pay-card__hero, .pay-card, .price-screen__header, .price-screen {
  display: flex;
  flex-direction: column;
}

.pay-card__button-enterprise, .pay-card__button-normal {
  box-sizing: border-box;
}

/*Micro Classes 
   ========================================================================== */
.border--free {
  border: 1px solid #E6E6E6;
}

.bs--pro {
  box-shadow: 0px 14px 30px rgba(204, 204, 204, 0.32);
}

.bg-white {
  background-color: #FFFFFF;
}

.bg--blue {
  background: #1769FF;
}

.color--black {
  color: #000000;
}

.color--white {
  color: #FFFFFF !important;
}

.color--transp {
  color: #B1B8C9;
}

.color--pink {
  color: #EA4C89;
}

.ml--24 {
  margin-left: 24px;
}

.mr--24 {
  margin-right: 24px;
}

.text-xl {
  font-weight: 600;
  font-size: 2rem;
  line-height: 39px;
}

p {
  margin: 0;
}

/* Main Css
   ========================================================================== */
body {
  background-color: #FFFFFF;
  color: #656C7C;
  font: 1rem/1.5 Inter, sans-serif;
}

.price-screen {
  padding-block: 6.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.5rem;
}

.price-screen__header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

/* For Each Payment Method Cards
   ========================================================================== */
.pay-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.pay-card {
  width: 360px;
  height: 683px;
  border-radius: 16px;
  padding-top: 2.3rem;
  padding-bottom: 2rem;
  gap: 1.5rem;
}
.pay-card__header {
  display: flex;
  align-items: center;
  justify-content: none;
  gap: 1.125rem;
  margin-left: 29px;
}
.pay-card__header__title {
  font-size: 1.5rem;
}
.pay-card__header__explanation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 119px;
  height: 39px;
  margin-left: auto;
  background: #FDB72E;
  border-radius: 40px;
}
.pay-card__value-area {
  display: flex;
  align-items: center;
  justify-content: none;
  gap: 0.75rem;
}
.pay-card__hero {
  gap: 2.25rem;
  margin-left: 27.83px;
}
.pay-card__hero__features {
  display: flex;
  align-items: center;
  justify-content: none;
  gap: 1.125rem;
}
.pay-card__button-normal {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  transition: 600ms;
  width: 312px;
  height: 54px;
  border-radius: 8px;
  margin-top: auto;
  background: #FFECF0;
}
.pay-card__button-normal:hover {
  border: none;
  background-color: #EA4C89;
  color: #FFFFFF;
}
.pay-card__button-enterprise {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  transition: 600ms;
  width: 312px;
  height: 54px;
  border-radius: 8px;
  margin-top: auto;
  background: #FFFFFF;
}
.pay-card__button-enterprise:hover {
  border: 2px solid #FFFFFF;
  background-color: rgba(23, 104, 255, 0);
  color: #FFFFFF;
}/*# sourceMappingURL=case.css.map */